<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：命名空间；指定为接口的全类型
    id：唯一标识；方法名
    resultType：返回值类型
    #{id}：从传递的参数中取出id值
-->
<mapper namespace="com.jaxer.example.dao.EmployeeMapper">
    <select id="getById" resultType="Employee" databaseId="mysql">
        SELECT *
        FROM employee
        WHERE id = #{id}
    </select>

    <select id="getByIdAndName" resultType="Employee">
        SELECT *
        FROM employee
        WHERE id = #{id} AND name = #{param2, jdbcType=NULL}
    </select>

    <select id="getByMap" resultType="Employee">
        SELECT *
        FROM employee
        WHERE id = #{id} AND name = #{name}
    </select>

    <!--
        MySQL支持自增主键，配置如下：
            useGeneratedKeys="true": 使用主键获取；
            keyProperty="id": 指定对应的主键属性
    -->
    <insert id="insertEmp" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (name, age, gender, dept_id)
        VALUES (#{name}, #{age}, #{gender}, #{deptId})
    </insert>

    <update id="updateEmp">
        UPDATE employee
        SET name = #{name}, age = #{age}
        WHERE id = #{id}
    </update>

    <delete id="deleteEmp">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>
</mapper>