<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaxer.example.dao.DeptDAO">
    <insert id="insert" parameterType="com.jaxer.example.domain.Dept">
        INSERT INTO dept (name, create_time, update_time) VALUES (#{name}, NOW(), NOW())
    </insert>

    <select id="findById" parameterType="int" resultType="dept">
        SELECT *
        FROM dept
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="dept">
        SELECT *
        FROM dept
        ORDER BY id
    </select>
</mapper>